body {
            background-color: #f4f4f4;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .search {
            background: white;
            width: 200px;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            transition: width 0.3s ease-in-out; /* Transition for animation */
        }

        .search.active {
            width: 300px; 
        }

        .input {
            border: none;
            height: 30px;
            flex: 1;
            padding: 5px;
            margin-right: 5px;
        }

        .btn {
            border: none;
            height: 30px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
			border-radius:50%;
        }