/*  your css code here. If applicable */
body{
	background-color:violet;
	text-align:center;
	padding-top:200px;
}
.search{
	background:white;
	width:220px;
	margin-left:200px;
	transition: width 0.3s ease-in-out;
}
 .search.active {
	 width: 300px;
 }
.input{
	border:none;
	height:40px;
}